.login-page-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px 0; 
    background: url('../images/kerajinan-perak-kota-ged.png') no-repeat center center;
    background-size: cover;
    position: relative;
}

.login-page-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(38, 14, 14, 0.85), rgba(0, 0, 0, 0.5));
}

/* Kartu atau kotak form login */
.login-card {
    background: #fff;
    padding: 60px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    z-index: 1; 
    border: 1px solid #eee;
}

.login-card h2{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

/* Styling untuk input field */
.form-control {
    border-radius: 8px;
    padding: 10px 15px;
    border: 1px solid #E9E9EB;
    height: 60px; 
}

.form-control:focus {
    border-color: #980808;
    box-shadow: 0 0 0 0.2rem rgba(152, 8, 8, 0.25);
}

.form-label {
    font-size: 14px;
    color: #5a5a5a;
    font-weight: 500;
    margin-bottom: 8px;
}

/* Tombol "lihat kata sandi" */
#togglePassword {
    /* border-left: 0; */
    border-color: #dbdfe3;
}

.form-check-label{
    font-size: 14px;
}

/* Tombol Login Utama (dengan animasi) */
.btn-login {
    position: relative;
    overflow: hidden;
    background-color: #980808;
    border: none;
    color: white;
    padding: 14px 0;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    animation: slideInRight 0.7s ease-out forwards;
}

/* Efek Shine (Kilau) pada Tombol */
.btn-login::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.25), transparent);
    transition: left 0.6s ease-out;
}

.btn-login:hover::before {
    left: 100%;
}

.btn-login:hover {
    background: linear-gradient(135deg, #c41e3a, #980808);
    transform: translateY(-3px); /* Efek terangkat */
    box-shadow: 0 10px 20px rgba(152, 8, 8, 0.4);
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Styling untuk link "Ubah kata sandi" */
.link-primary {
    color: #980808;
    text-decoration: none;
    font-weight: 500;
}

.link-primary:hover {
    color: #cb464b;
    text-decoration: underline;
}